body{
  margin: 100px 380px;
  background-image: url('./assetes/chess.jpg');
  background-size: cover;
}
table tr td{
  padding: 30px;
}
table tr td{
  border: 3px solid rgb(202, 70, 4);
  
}
table{
  border-collapse:collapse ;
}
